<!doctype html>
<html ng-app="app" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Angular App</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Squada+One" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover.css">
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
  <% for (var css in htmlWebpackPlugin.files.css) { %>
  <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
   <% } %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
<link href="https://imheretw.github.io/imhere-angular-wizard/css/app.css" rel="stylesheet"><link href="https://imheretw.github.io/imhere-angular-wizard/css/imhere-angular-wizard.css" rel="stylesheet"></head>
<body>
  <app></app>
<script type="text/javascript" src="https://imheretw.github.io/imhere-angular-wizard/app.js"></script><script type="text/javascript" src="https://imheretw.github.io/imhere-angular-wizard/imhere-angular-wizard.js"></script></body>
</html>
